div {
    border-style: hidden;
    border-width: 5px;
    border-color: green;
    padding: 30px;
}

.container {
    border-color: blue;
}   
    
    .row {
     border-color: red;   
    }
    body {
    background-image: url("http://images7.alphacoders.com/491/491659.jpg");
}
